useDynLib(kernDeepStackNet)
exportPattern("^[^\\.]")
importFrom("methods", "formalArgs")
importFrom("stats", "coef", "dist", "dnorm", "mad", "median",
           "optimize", "pnorm", "predict", "quantile", "runif", "sd")
import(Rcpp)
importFrom(glmnet, glmnet)
importFrom(mvtnorm, rmvnorm)
importFrom(lhs, maximinLHS)
importFrom(DiceKriging, km)
importFrom(DiceKriging, leaveOneOut.km)
importFrom(parallel, makeCluster)
importFrom(parallel, clusterEvalQ)
importFrom(parallel, clusterExport)
importFrom(parallel, parSapply)
importFrom(parallel, parSapplyLB)
importFrom(parallel, parLapply)
importFrom(parallel, parLapplyLB)
importFrom(parallel, stopCluster)
importFrom(globalOptTests, goTest)
importFrom(globalOptTests, getGlobalOpt)
S3method(predict, KDSN)
